<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oriyoung"
        tools:targetApi="31">
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewDetail"
            android:exported="false" />
        <activity
            android:name=".Checkout"
            android:exported="false" />
        <activity
            android:name=".DialogNotificationSuccessfully"
            android:exported="false" />
        <activity
            android:name=".DialogInforReceiving"
            android:exported="false" />
        <activity
            android:name=".DialogPaymentSuccessfully"
            android:exported="false" />
        <activity
            android:name=".ProductDetail"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MenuSearch"
            android:exported="false" />
        <activity
            android:name=".NotiActivity"
            android:exported="false" />
        <activity
            android:name=".ContactOriyoung"
            android:exported="false" />
        <activity
            android:name=".MyVoucher"
            android:exported="false" />
        <activity
            android:name=".SearchBarActivity"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".DialogDeleteAccount"
            android:exported="false" />
        <activity
            android:name=".DialogLogout"
            android:exported="false" />
        <activity
            android:name=".UserInfoDetail"
            android:exported="false" />
        <activity
            android:name=".UserInformation"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".signup_success"
            android:exported="false" />
        <activity
            android:name=".SignupPassword"
            android:exported="false" />
        <activity
            android:name=".Signup_back"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SupportCenter"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ProductCatalog"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ForgetPwActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>